.gradle
build/
backups/
logs/
prod/
!gradle/wrapper/gradle-wrapper.jar
application-local.yml
application-prod.yml

### IntelliJ IDEA ###
.idea
*.iml

### Telegram
chat_gpt_759_*
vocabulary_expert_bot

TestController.java
