
<div class="tab-pane fade show active mt-5" id="nav-repeat" role="tabpanel" aria-labelledby="nav-repeat-tab">
    <div class="card content m-auto" style="width: 36rem" id="card">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="d-none">{{ word }}</div>
        <div class="d-none">{{ sentence }}</div>
        <div class="card-body">
            <div class="d-none"><p class="text-muted">1 / 50</p></div>
            <!--<h5 class="card-title fw-bold">Card title</h5>-->
            <i class="btn btn-lg bi bi-play-circle" style="display: inline" :class="{ 'bi-stop-circle': playing }" v-on:click="speak"></i>
            <p class="card-text" style="display: inline" v-html="sentenceHtml"></p>
            <div class="card-left disable-select" v-on:click="explanationClick" :class="{ 'dimgray': !explanationVisible }">
                <p v-html="explanationVisible ? explanationHtml : 'Explanation</br>Click to see'"></p>
            </div>
            <div class="card-right disable-select" v-on:click="translationClick" :class="{ 'dimgray': !translationVisible }">
                <p v-html="translationVisible ? translationHtml : 'Translation</br>Click to see'"></p>
            </div>
            <p></p>
        </div>
        <div class="btn-group">
            <button class="btn btn-teal-blue" v-on:click="reset">I forgot</button>
            <button class="btn btn-teal" v-on:click="another">Another context</button>
            <button class="btn btn-teal-dark" v-on:click="next">I know</button>
        </div>
    </div>
</div>
