
<div class="tab-pane fade mt-5" id="nav-dict" role="tabpanel" aria-labelledby="nav-dict-tab">
    <table class="table table-dark m-auto" id="dict" style="width: 40rem">
        <tr v-for="(dictDto, index) in elements">

            <td class="w32 pt11" :class="{ 'bg-dark-green': dictDto.ready }">{{ (index + 1) + '.'}}</td>

            <td class="pt11" :class="{ 'bg-dark-green': dictDto.ready }">{{ dictDto.word }}</td>

            <td class="form-select-sm pt11" :class="{ 'bg-dark-green': dictDto.ready }">
                <select class="form-select form-select-sm bg-secondary border-secondary text-white"
                        data-style="btn-secondary" v-model="dictDto.status" @change="change(dictDto.word, dictDto.status)">

                    <option value="LEARNING">Learning</option>
                    <option value="THREE_DAYS">Three days</option>
                    <option value="ONE_WEEK">One week</option>
                    <option value="TWO_WEEKS">Two weeks</option>
                    <option value="ONE_MONTH">One month</option>
                    <option value="TWO_MONTHS">Two months</option>
                    <option value="FOUR_MONTHS">Four months</option>
                    <option value="ONE_YEAR">One year</option>
                    <option value="INFINITY">Don't repeat</option>
                </select>
            </td>
            <td class="w32" :class="{ 'bg-dark-green': dictDto.ready }">
                <button class="btn btn-sm btn-outline-danger" v-on:click="deleteWord(dictDto.word)">
                    <i class="bi bi-x-lg"></i>
                </button>
            </td>
        </tr>
    </table>
</div>
