<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Vocabulary</title>
    <!-- https://cdnjs.com/libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=0wYGUaTd"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .rvNotification {
            display: none;
        }
        .float-right {
            float: right;
        }
        .dimgray {
            color: dimgray;
        }
        .w165 {
            width: 165px !important;
        }
        .disable-select {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .card {
            border:none;
            text-align: center;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            box-shadow: 0px 0px 10px teal;
        }
        .card img {
            border-top-left-radius: 10em;
            border-top-right-radius: 10em;
        }
        .card .btn {
            padding: 0.75em 0.5em;
            border-radius: 0;
        }
        .card-body {
            height: 200px;
        }
        .card-text {
            height: 48px;
        }
        .card-left {
            left: 2px;
        }
        .card-right {
            right: 2px;
        }
        .card-left,.card-right {
            padding: 5px;
            border-radius: 1rem;
            border: 2px dashed darkgray;
            width: calc(50% - 3px);
            background-color: gainsboro;
            height: 112px;
            position: absolute;
            bottom: 52px;
            display: flex;
        }
        .card-left p,.card-right p {
            margin: auto;
        }
        .btn-teal {
            background-color: teal !important;
            border-color: teal !important;
        }
        .btn-teal-blue {
            background-color: #29A0B1 !important;
            border-color: #29A0B1 !important;
        }
        .btn-teal-dark {
            background-color: #175873 !important;
            border-color: #175873 !important;
        }
        .btn-teal:hover {
            filter: brightness(95%);
        }
        .btn-teal-blue:hover {
            filter: brightness(95%);
        }
        .btn-teal-dark:hover {
            filter: brightness(95%);
        }
        .nav .btn:not(.active) {
            filter: brightness(55%);
        }
        .mt-1px {
            margin-top: 1px;
        }
        .ml-3 {
            margin-left: 0.75rem;
        }
        .rounded-left {
            border-radius: 0.375rem 0 0 0.375rem !important;
        }
        .rounded-right {
            border-radius: 0 0.375rem 0.375rem 0 !important;
        }
        .form-select-sm {
            width: 150px;
        }
        .msg-bot {
            float: left;
            max-width: 75%;
            margin-top: 15px;
            border-radius: 10px;
            background-color: #282C30 !important;
        }
        .msg-user {
            float: right;
            max-width: 70%;
            margin-top: 15px;
            border-radius: 10px;
            background-color: #183E41 !important;
        }
        .rm {
            color: #dc3545;
            text-decoration: line-through;
        }
        .ins {
            color: #198754;
        }
        .border-0 {
            border: 0 !important;
        }
    </style>
</head>
<body class="bg-dark p-4">


<div class="row" id="new-word">
    <div class="col input-group">
        <input type="text" class="form-control rounded-left mt-1px" placeholder="Add new word..." v-model="word"/>
        <button class="btn btn-lg btn-success rounded-right" v-on:click="add">
            <i class="bi bi-save text-white"></i>
        </button>
        {{ result }}
    </div>
    <div class="col col-md-8"></div>
    <div class="col">
        <div class="nav nav-pills float-right" id="nav" role="tablist">
            <button class="btn btn-lg btn-teal-blue text-white ml-3 active"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-repeat"
                    role="tab"
                    aria-controls="nav-repeat"
                    aria-selected="true">
                <i class="bi bi-book"></i></button>
            <button class="btn btn-lg btn-teal-blue text-white ml-3"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-chat"
                    role="tab"
                    aria-controls="nav-chat"
                    aria-selected="false">
                <i class="bi bi-chat-right-text"></i></button>
            <button class="btn btn-lg btn-teal text-white ml-3"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-dict"
                    role="tab"
                    aria-controls="nav-dict"
                    aria-selected="false">
                <i class="bi bi-clipboard-check"></i></button>
            <button class="btn btn-lg btn-teal-dark text-white ml-3"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-settings"
                    role="tab"
                    aria-controls="nav-settings"
                    aria-selected="false">
                <i class="bi bi-gear-fill"></i></button>
        </div>
    </div>
</div>

<br/>
<br/>

<div class="tab-content" id="nav-tabContent" style="margin-bottom: 10%">
    <div class="tab-pane fade show active" id="nav-repeat" role="tabpanel" aria-labelledby="nav-repeat-tab">
        <div class="card content m-auto" style="width: 36rem" id="card">
            <!--<img src="..." class="card-img-top" alt="...">-->
            <div class="d-none">{{ word }}</div>
            <div class="d-none">{{ sentence }}</div>
            <div class="card-body">
                <div class="d-none"><p class="text-muted">1 / 50</p></div>
                <!--<h5 class="card-title fw-bold">Card title</h5>-->
                <i class="btn btn-lg bi bi-play-circle" style="display: inline" :class="{ 'bi-stop-circle': playing }" v-on:click="speak"></i>
                <p class="card-text" style="display: inline" v-html="sentenceHtml"></p>
                <div class="card-left disable-select" v-on:click="explanationClick" :class="{ 'dimgray': !explanationVisible }">
                    <p v-html="explanationVisible ? explanationHtml : 'Explanation</br>Click to see'"></p>
                </div>
                <div class="card-right disable-select" v-on:click="translationClick" :class="{ 'dimgray': !translationVisible }">
                    <p v-html="translationVisible ? translationHtml : 'Translation</br>Click to see'"></p>
                </div>
                <p></p>
            </div>
            <div class="btn-group">
                <button class="btn btn-teal-blue" v-on:click="reset">I forgot</button>
                <button class="btn btn-teal" v-on:click="another">Another context</button>
                <button class="btn btn-teal-dark" v-on:click="next">I know</button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab">
        <table class="table table-dark m-auto" id="chat" style="width: 45rem">
            <tr v-for="msg in messages">
                <td class="border-0"
                    :class="{ 'msg-bot': msg.owner == 'BOT', 'msg-user': msg.owner == 'USER' }"
                    :title="msg.owner == 'USER' ? 'Mark: ' + msg.mark + ' / 10 Perfect: ' + msg.perfect : null"
                    v-html="msg.correctedHtml"
                ></td>
            </tr>
            <tr>
                <td class="input-group border-0 mt-4">
                    <input type="text" class="form-control rounded-left mt-1px" v-model="newMessage" :disabled="disabled" v-on:keyup.enter="send"/>
                    <button class="btn btn-lg btn-teal rounded-right" :disabled="disabled" v-on:click="send">
                        <i class="bi bi-send text-white"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-dict" role="tabpanel" aria-labelledby="nav-dict-tab">
        <table class="table table-dark m-auto" id="dict" style="width: 36rem">
            <tr v-for="card in cards" :key="card.text">
                <td>{{ card.word }}</td>
                <td class="w-25">
                    <select class="form-select form-select-sm bg-secondary border-secondary text-white" data-style="btn-secondary" v-model="card.status" @change="change(card.word, card.status)">
                        <option value="LEARNING">LEARNING</option>
                        <option value="THREE_DAYS">THREE_DAYS</option>
                        <option value="ONE_WEEK">ONE_WEEK</option>
                        <option value="TWO_WEEKS">TWO_WEEKS</option>
                        <option value="ONE_MONTH">ONE_MONTH</option>
                        <option value="TWO_MONTHS">TWO_MONTHS</option>
                        <option value="FOUR_MONTHS">FOUR_MONTHS</option>
                        <option value="ONE_YEAR">ONE_YEAR</option>
                        <option value="INFINITY">INFINITY</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
        <table class="table table-dark m-auto" id="settings" style="width: 36rem">
            <tr>
                <td>Voice enabled</td>
                <td class="w-25">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" v-model="voiceEnabled" @change="saveVoiceEnabled()" :class="{ 'btn-teal-dark': voiceEnabled }">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Voice for repeating words</td>
                <td class="w-25">
                    <select class="form-select form-select-sm bg-secondary border-secondary text-white w165" data-style="btn-secondary" v-model="voiceCard" @change="saveVoiceCard()">
                        <option value="UK_ENGLISH_FEMALE">UK English Female</option>
                        <option value="UK_ENGLISH_MALE">UK English Male</option>
                        <option value="US_ENGLISH_FEMALE">US English Female</option>
                        <option value="US_ENGLISH_MALE">US English Male</option>
                        <option value="RANDOM">Random</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Voice for ChatGpt messages</td>
                <td class="w-25">
                    <select class="form-select form-select-sm bg-secondary border-secondary text-white w165" data-style="btn-secondary" v-model="voiceChatLeft" @change="saveVoiceChatLeft()">
                        <option value="UK_ENGLISH_FEMALE">UK English Female</option>
                        <option value="UK_ENGLISH_MALE">UK English Male</option>
                        <option value="US_ENGLISH_FEMALE">US English Female</option>
                        <option value="US_ENGLISH_MALE">US English Male</option>
                        <option value="RANDOM">Random</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Voice for your messages</td>
                <td class="w-25">
                    <select class="form-select form-select-sm bg-secondary border-secondary text-white w165" data-style="btn-secondary" v-model="voiceChatRight" @change="saveVoiceChatRight()">
                        <option value="UK_ENGLISH_FEMALE">UK English Female</option>
                        <option value="UK_ENGLISH_MALE">UK English Male</option>
                        <option value="US_ENGLISH_FEMALE">US English Female</option>
                        <option value="US_ENGLISH_MALE">US English Male</option>
                        <option value="RANDOM">Random</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Voice rate</td>
                <td class="w-25">
                    <input class="form-control form-select-sm bg-secondary border-secondary text-white w165" v-model="voiceRate" @change="saveVoiceRate()">
                </td>
            </tr>
            <tr>
                <td>Voice volume</td>
                <td class="w-25">
                    <input class="form-control form-select-sm bg-secondary border-secondary text-white w165" v-model="voiceVolume" @change="saveVoiceVolume()">
                </td>
            </tr>
        </table>
    </div>
</div>


<script>
    var newWord = new Vue({
        el: '#new-word',
        data: {
            word: '',
            result: ''
        },
        methods: {
            add() {
                fetch('http://localhost:8080/api/add/' + this.word)
                    .then(response => log(response))
                    .then(response => response.text())
                    .then(response => {
                        this.result = response;
                        dict.update();
                    })
                    .catch(handleError);
            }
        },
    });

    var card = new Vue({
        el: '#card',
        data: {
            word: '',
            sentence: '',
            sentenceHtml: 'Loading...',
            explanationHtml: '',
            translationHtml: '',
            explanationVisible: false,
            translationVisible: false,
            playing: false
        },
        methods: {
            explanationClick() {
                this.explanationVisible = !this.explanationVisible;
            },
            translationClick() {
                this.translationVisible = !this.translationVisible;
            },
            reset() {
                this.sentence = '';
                this.sentenceHtml = '';
                this.explanationHtml = '';
                this.translationHtml = '';
                fetch('http://localhost:8080/api/reset/' + this.word)
                    .then(response => log(response))
                    .then(response => response.json())
                    .then(response => {
                        this.word = response.word;
                        this.sentence = response.sentence;
                        this.sentenceHtml = response.sentenceHtml;
                        this.explanationHtml = response.explanationHtml;
                        this.translationHtml = response.translationHtml;
                        dict.update();
                    })
                    .catch(handleError);
            },
            another() {
                this.sentence = '';
                this.sentenceHtml = 'Loading...';
                this.explanationHtml = '';
                this.translationHtml = '';
                fetch('http://localhost:8080/api/another/' + this.word)
                    .then(response => response.json())
                    .then(response => {
                        this.word = response.word;
                        this.sentence = response.sentence;
                        this.sentenceHtml = response.sentenceHtml;
                        this.explanationHtml = response.explanationHtml;
                        this.translationHtml = response.translationHtml;
                    })
                    .catch(handleError);
            },
            next() {
                //this.sentence = '';
                //this.sentenceHtml = '';
                //this.explanationHtml = '';
                //this.translationHtml = '';
                fetch('http://localhost:8080/api/next/' + this.word)
                    .then(response => log(response))
                    .then(response => response.json())
                    .then(this.handleResponse)
                    .catch(handleError);
            },
            handleResponse(response) {
                if (response.sentence === '') {
                    if (card.sentenceHtml !== 'No cards to repeat') {
                        this.sentenceHtml = 'No cards to repeat';
                    }
                    setTimeout(() => card.next(), 2000);
                } else {
                    this.word = response.word;
                    this.sentence = response.sentence;
                    this.sentenceHtml = response.sentenceHtml;
                    this.explanationHtml = response.explanationHtml;
                    this.translationHtml = response.translationHtml;
                }
                /*responsiveVoice.allowSpeechClicked(true);*/
                /*
                                        responsiveVoice.speak(response, 'UK English Male', {rate: 0.8, volume: 1, onend: function () {
                                                responsiveVoice.cancel();
                                                responsiveVoice.speak(response, 'UK English Male', {rate: 0.8, volume: 1});
                                            }});*/
                /* responsiveVoice.setDefaultRate(0.5); setDefaultVoice */
            },
            speak() {
                if (this.playing) {
                    this.playing = false;
                    responsiveVoice.cancel();
                } else {
                    this.playing = true;
                    responsiveVoice.speak(this.sentence, 'UK English Male', {rate: 0.8, volume: 1, onend: () => this.playing = false});
                }
            }
        },
        mounted() {
            $('.card-left, .card-right').on('click', function() {
                $(this).css('user-select', 'none');
            });
            responsiveVoice.cancel();
            //responsiveVoice.speak('');
            //setTimeout(() => { responsiveVoice.allowSpeechClicked(true); }, 300);
            //setTimeout(() => { responsiveVoice.allowSpeechClicked(true); }, 1000);
            this.next();
        }
    });

    var chat = new Vue({
        el: '#chat',
        data: {
            disabled: false,
            messages: [],
            newMessage: ''
        },
        methods: {
            init() {
                this.disabled = true;

                fetch('http://localhost:8080/api/chat')
                    .then(response => log(response))
                    .then(response => response.json())
                    .then(response => {
                        this.disabled = false;
                        this.messages = response;
                    })
                    .catch(handleError);
            },
            send() {
                if (this.newMessage === undefined || this.newMessage === '' || /^\s+$/.test(this.newMessage)) {
                    console.log("newMessage is empty");
                    return;
                }
                this.disabled = true;
                var newMessage = this.newMessage;
                this.newMessage = '';
                this.messages.push({owner: "USER", correctedHtml: newMessage});
                this.messages.push({owner: "BOT", correctedHtml: 'Loading.....'});

                fetch('http://localhost:8080/api/chat', {method: 'POST', body: newMessage})
                    .then(response => log(response))
                    .then(response => response.json())
                    .then(response => {
                        this.messages = response;
                        speak(this.messages[this.messages.length - 1].corrected);
                    })
                    .catch(handleError)
                    .finally(() => this.disabled = false);
            }
        },
        mounted() {
            this.init();
        }
    });

    var dict = new Vue({
        el: '#dict',
        data: {
            cards: []
        },
        methods: {
            update() {
                fetch('http://localhost:8080/api/dict')
                    .then(response => log(response))
                    .then(response => response.json())
                    .then(response => {
                        this.cards = response;
                    })
                    .catch(handleError);
            },
            change(word, status) {
                fetch('http://localhost:8080/api/dict', {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ word: word, status: status })
                })
                    .then(response => log(response))
                    .then(response => response.json())
                    .then(card.handleResponse)
                    .catch(handleError);
            }
        },
        mounted() {
            this.update();
        }
    });

    var settings = new Vue({
        el: '#settings',
        data: {
            voiceEnabled: true,
            voiceCard: '',
            voiceChatLeft: '',
            voiceChatRight: '',
            voiceRate: 0.0,
            voiceVolume: 0.0
        },
        methods: {
            load() {
                fetch('http://localhost:8080/api/user')
                    .then(response => log(response))
                    .then(response => response.json())
                    .then(response => {
                        this.voiceEnabled = response.voiceEnabled;
                        this.voiceCard = response.voiceCard;
                        this.voiceChatLeft = response.voiceChatLeft;
                        this.voiceChatRight = response.voiceChatRight;
                        this.voiceRate = response.voiceRate;
                        this.voiceVolume = response.voiceVolume;
                    })
                    .catch(handleError);
            },
            saveVoiceEnabled() {
                fetch('http://localhost:8080/api/user/voice/enabled', {
                    method: 'POST',
                    body: this.voiceEnabled
                })
                    .then(response => log(response))
                    .catch(handleError);
            },
            saveVoiceCard() {
                fetch('http://localhost:8080/api/user/voice/card', {
                    method: 'POST',
                    body: this.voiceCard
                })
                    .then(response => log(response))
                    .catch(handleError);
            },
            saveVoiceChatLeft() {
                fetch('http://localhost:8080/api/user/voice/chat/left', {
                    method: 'POST',
                    body: this.voiceChatLeft
                })
                    .then(response => log(response))
                    .catch(handleError);
            },
            saveVoiceChatRight() {
                fetch('http://localhost:8080/api/user/voice/chat/right', {
                    method: 'POST',
                    body: this.voiceChatRight
                })
                    .then(response => log(response))
                    .catch(handleError);
            },
            saveVoiceRate() {
                fetch('http://localhost:8080/api/user/voice/rate', {
                    method: 'POST',
                    body: this.voiceRate
                })
                    .then(response => log(response))
                    .catch(handleError);
            },
            saveVoiceVolume() {
                fetch('http://localhost:8080/api/user/voice/volume', {
                    method: 'POST',
                    body: this.voiceVolume
                })
                    .then(response => log(response))
                    .catch(handleError);
            }
        },
        mounted() {
            this.load();
        }
    });

    var log = (response) => {
        console.log(response);
        return response;
    }
    var handleError = (response) => {
        if (('' + response).indexOf('SyntaxError') >= 0 || ('' + response).indexOf('TypeError') >= 0) {
            window.location.href = "/";
        } else {
            console.log(response);
        }
    }
    var speak = (text) => {
        responsiveVoice.speak(text, 'UK English Male', {rate: 0.8, volume: 1});
    }

</script>

</body>
</html>