<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Vocabulary</title>
    <!-- https://cdnjs.com/libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=0wYGUaTd"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="bg-dark p-4">
    <div th:replace="fragments/top"></div>

    <div class="tab-content" id="nav-tabContent" style="margin-bottom: 10%">
        <div th:replace="fragments/card"></div>
        <div th:replace="fragments/chat"></div>
        <div th:replace="fragments/dict"></div>
        <div th:replace="fragments/settings"></div>
    </div>

    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/top.js}"></script>
    <script th:src="@{/js/card.js}"></script>
    <script th:src="@{/js/chat.js}"></script>
    <script th:src="@{/js/dict.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
</body>
</html>